html {
	/* sticky footer */
	position: relative;
	min-height: 100%;
	padding: 0;
}

body {
    background-color: #38AA7F;
	/* sticky footer */
    margin-bottom: 80px;
}

#lth-reg-form {
    margin-top: 40px;
}

.container-fluid {
    padding: 0;
}

.page-header {
    border-bottom: 0;
    margin-top: 0px;
    padding-top: 40px;
    background: #3F6FA4;
    color: white;
}

#lth-reg-header-title {
    margin: inherit;
}

#lth-reg-footer {
	/* sticky footer */
  position: absolute;
  display: inline;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  /* Set the fixed height of the footer here */
  height: 52px;
  background-color: #f5f5f5;
}

#lth-reg-footer a, #lth-reg-footer a:hover {
	color: #9a9a9a;
	text-decoration: none;
}

#lth-reg-content {
    max-width: 400px;
    margin: auto;
    color: white;
}

#lth-reg-intro {
	text-align: center;
}